# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs/
logs_secundarios/

# Environment and secrets
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# LLM checkpoints or vector stores
chroma_db/
